
@media screen and (max-width:800px) {
   
   .navbar{
      height:60px;
      background-color:maroon;
   }
   .mat-size{
      display:none;
   }
   .about-sec{
   display:none;
   }
   .account{
      display:none;
   }
   .address{
      display:none;
   }
   .nav-search{
      width:300px;
   }
   .hero-mat{
      font-size: 40px;
   }
   .com-mat{
      margin-left: 10px;;
      font-size: 15px;
   }
   .hero-img{
      width:500px;
      height:300px;
      margin-left:0%;
   }
   .item{
      margin-left: 10px;;
      margin-right: 10px;
      height: 300px;
     
   }
  .box{
   height:200px;
   width:60%px;
   margin-left:10px;

  }
  .item-msg{
   margin-left:20px;;
  }
  .msg-1{
   font-size: 15px;;
   
  }
}